html,
body {
    min-height: 100%;
}

body,
div,
form,
input,
select,
p {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
}
.jumbotron{
    border-radius: 0.75rem;
}
body {
    /* background: url("/uploads/media/default/0001/01/b5edc1bad4dc8c20291c8394527cb2c5b43ee13c.jpeg") no-repeat center; */
    background-size: cover;
}



h1,
h2 {
    text-transform: uppercase;
    font-weight: 400;
}

h2 {
    margin: 0 0 0 8px;
}

.main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5);
}

.left-part,
form {
    padding: 25px;
}

.left-part {
    text-align: center;
}

.fa-graduation-cap {
    font-size: 72px;
}

form {
    background: rgba(0, 0, 0, 0.5);
}

.text-muted {
    color: #bababa !important;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

input,
select {
    padding: 5px;
    margin-bottom: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}

input::placeholder {
    color: #eee;
}

option:focus {
    border: none;
}

option {
    background: black;
    border: none;
}

.checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.checkbox a {
    color: #26a9e0;
}

.checkbox a:hover {
    color: #85d6de;
}

.btn-item,
button {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background: #26a9e0;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.btn-item {
    display: inline-block;
    margin: 20px 5px 0;
}

button {
    width: 100%;
}

button:hover,
.btn-item:hover {
    background: #85d6de;
}

body {
    margin-top: 20px;
}

.modal-backdrop {
    opacity: 0.9 !important;
}

.profile-modal {
    display: flex;
    align-items: center;
}

/* USER LIST TABLE */
.user-list tbody td>img {
    position: relative;
    max-width: 50px;
    float: left;
    margin-right: 15px;
}
.user-list_name{
    font-weight: 500;
    font-size: 1.4em;
    color: black;
}
.user-list tbody td .user-link {
    display: block;
    font-size: 1.25em;
    padding-top: 3px;
    margin-left: 60px;
}

.user-list tbody td .user-subhead {
    font-size: 1.25em;
    font-style: italic;
    font-weight: 500;
}

/* TABLES */
.tabl1 {
    border-collapse: separate;
}

.tabl1-hover>tbody>tr:hover>td,
.tabl1-hover>tbody>tr:hover>th {
    background-color: #eee;
}

.tabl1 thead>tr>th {
    border-bottom: 1px solid #C2C2C2;
    padding-bottom: 0;
}

.tabl1 tbody>tr>td {
    font-size: 0.875em;
    background: #f5f5f5;
    border-top: 10px solid #fff;
    vertical-align: middle;
    padding: 12px 8px;
}

.tabl1 tbody>tr>td:first-child,
.tabl1 thead>tr>th:first-child {
    padding-left: 20px;
}

.tabl1 thead>tr>th span {
    border-bottom: 2px solid #C2C2C2;
    display: inline-block;
    padding: 0 5px;
    padding-bottom: 5px;
    font-weight: normal;
}

.tabl1 thead>tr>th>a span {
    color: #344644;
}

.tabl1 thead>tr>th>a span:after {
    content: "\f0dc";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    margin-left: 5px;
    font-size: 0.75em;
}

.tabl1 thead>tr>th>a.asc span:after {
    content: "\f0dd";
}

.tabl1 thead>tr>th>a.desc span:after {
    content: "\f0de";
}

.tabl1 thead>tr>th>a:hover span {
    text-decoration: none;
    color: #2bb6a3;
    border-color: #2bb6a3;
}

.tabl1.table-hover tbody>tr>td {
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
}

.tabl1 tbody tr td .call-type {
    display: block;
    font-size: 0.75em;
    text-align: center;
}

.tabl1 tbody tr td .first-line {
    line-height: 1.5;
    font-weight: 400;
    font-size: 1.125em;
}

.tabl1 tbody tr td .first-line span {
    font-size: 0.875em;
    color: #969696;
    font-weight: 300;
}

.tabl1 tbody tr td .second-line {
    font-size: 0.875em;
    line-height: 1.2;
}

.tabl1 a.table-link {
    margin: 0 5px;
    font-size: 1.125em;
}

.tabl1 a.table-link:hover {
    text-decoration: none;
    color: #2aa493;
}

.tabl1 a.table-link.danger {
    color: #fe635f;
}

.tabl1 a.table-link.danger:hover {
    color: #dd504c;
}

.table-products tbody>tr>td {
    background: none;
    border: none;
    border-bottom: 1px solid #ebebeb;
    -webkit-transition: background-color 0.15s ease-in-out 0s;
    transition: background-color 0.15s ease-in-out 0s;
    position: relative;
}

.table-products tbody>tr:hover>td {
    text-decoration: none;
    background-color: #f6f6f6;
}

.table-products .name {
    display: block;
    font-weight: 600;
    padding-bottom: 7px;
}

.table-products .price {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-products .price>i {
    color: #8dc859;
}

.table-products .warranty {
    display: block;
    text-decoration: none;
    width: 50%;
    float: left;
    font-size: 0.875em;
}

.table-products .warranty>i {
    color: #f1c40f;
}

.tabl1 tbody>tr.table-line-fb>td {
    background-color: #9daccb;
    color: #262525;
}

.tabl1 tbody>tr.table-line-twitter>td {
    background-color: #9fccff;
    color: #262525;
}

.tabl1 tbody>tr.table-line-plus>td {
    background-color: #eea59c;
    color: #262525;
}

.table-stats .status-social-icon {
    font-size: 1.9em;
    vertical-align: bottom;
}

.table-stats .table-line-fb .status-social-icon {
    color: #556484;
}

.table-stats .table-line-twitter .status-social-icon {
    color: #5885b8;
}

.table-stats .table-line-plus .status-social-icon {
    color: #a75d54;
}

@media (min-width: 568px) {

    html,
    body {
        height: 100%;
    }

    .main-block {
        flex-direction: row;
        height: calc(100% - 50px);
    }

    .left-part,
    form {
        flex: 1;
        height: auto;
    }
}

.form-control {

    height: 30px;
}

.hideField {
    display: none;
}

/*camera CSS*/
#cambox{
    position:relative;
    width:500px;
    height: 400px;
    margin: 0 auto;
}

#webcam, #live_img_profile_preview, #nocamera {
    background:#eee;
    border:5px solid #999;
    height: 240px;
    margin-left:60px;
    margin:10px 20px;
    position:absolute;
    width: 320px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#webcam {
    z-index:2000;
}

#live_img_profile_preview {
    display:none;
    z-index:5000;
}

#nocamera {
    display:none;
    z-index:9900;
}

#buttons{
    position:absolute;
    bottom:0;
    right:165px;
    z-index:100;
}

#light_webcam {
    background-color:#c00;
    display:none;
    height:500px;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
    z-index:5000;
}

object {
    display:block;
    position:relative;
    z-index:1000;
}

#smartsystem{
    background:transparent;
    height:40px;
    margin-left:67px;
    position:absolute;
    top:220px;cursor:pointer;
    z-index:2100;
}

.message{
    padding:80px 10px;
}

.livecountdown{
    font-size:26px;
    font-weight:bold;
    color:#fff;
    padding-left:153px;
    display:none;
}

.click{
    padding-left:145px;
}

.close{
    position: absolute;
    right: 0;
    color:#fff;
    top: 0;
    cursor:pointer;width:22px;height:22px;display:block;background:url(picture/web_icon_close.png) top;
}
.close:hover{
    position: absolute;
    right: 0;
    color:#fff;
    top: 0;
    cursor:pointer;width:22px;height:22px;display:block;background:url(picture/web_icon_close.png) bottom;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.75rem - 1px);
    border-top-right-radius: calc(0.75rem - 1px);
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.75rem - 1px);
    border-bottom-left-radius: calc(0.75rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}
card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
    margin-bottom: 0.5rem;
}

.card-subtitle {
    margin-top: -0.25rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link+.card-link {
    margin-left: 1rem;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
    border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0;
}

.card-footer {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.03);
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
    border-radius: 0 0 calc(0.75rem - 1px) calc(0.75rem - 1px);
}

.card-header-tabs {
    margin-right: -0.5rem;
    margin-bottom: -0.5rem;
    margin-left: -0.5rem;
    border-bottom: 0;
}

.card-header-tabs .nav-link.active {
    background-color: #fff;
    border-bottom-color: #fff;
}

.card-header-pills {
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(0.75rem - 1px);
}

.card-img,
.card-img-top,
.card-img-bottom {
    width: 100%;
}

.card-img,
.card-img-top {
    border-top-left-radius: calc(0.75rem - 1px);
    border-top-right-radius: calc(0.75rem - 1px);
}

.card-img,
.card-img-bottom {
    border-bottom-right-radius: calc(0.75rem - 1px);
    border-bottom-left-radius: calc(0.75rem - 1px);
}

.card-group>.card {
    margin-bottom: 15px;
}
